/* Reset and Default Styling Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

:root {
  --primary-color: #070211;
  --text-color: #070211;
  --accent-color: #ff0000;
  --light-color: #ffffff;
  --bg-gradient-color-1: linear-gradient(
    to bottom,
    #070211 0%,
    rgba(7, 2, 17, 0) 100%
  );
  --bg-gradient-color-2: linear-gradient(
    to right,
    #070211 0%,
    rgba(7, 2, 17, 0) 100%
  );
}

body,
h3,
h4,
h5,
h6,
p,
a,
button,
span,
div,
li {
  font-family: "Inter", sans-serif;
}
h1,
h2 {
  font-family: "Merriweather", serif;
}

.font-mw {
  font-family: "Merriweather", serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.justify-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-bg {
  height: 500px;
  background-repeat: no-repeat;
  border-radius: 24px;
  background-size: cover;
  padding: 50px;
  background-position: center center;
}

.section-subtitle {
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.section-title {
  font-size: 34px;
  font-weight: 700;
  color: var(--primary-color);
}
.text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
img {
  max-width: 100%;
}

/* Reset and Default Styling End */

/* Styling for Banner Section Start */
.banner-section {
  padding: 70px 0;
}

.banner-section .container {
  background-image:
    var(--bg-gradient-color-1), url("./assets/images/banner-image.png");
}
.banner-section h1,
.banner-section h2 {
  color: var(--light-color);
  text-align: center;
}
.banner-section h1 {
  font-size: 32px;
  font-weight: 500;
}
.banner-section h2 {
  font-size: 74px;
  font-weight: 700;
  width: 80%;
  margin-top: 20px;
  line-height: 84px;
}

/* Styling for Banner Section End */

/* Styling for Offer Section Start */
.offer-section {
  padding: 20px 0;
}
.offer-section .offer-text {
  color: var(--accent-color);
  font-size: 74px;
  font-weight: 700;
  margin-bottom: 20px;
}
.offer-section .section-title {
  margin: 15px 0 40px 0;
}
.new-year-image {
  width: 60%;
  text-align: center;
}

/* Styling for Offer Section End */

/* Styling for Night Party Section Start */
.nightparty-section {
  padding: 50px 0;
}
.nightparty-section .container {
  background-image:
    var(--bg-gradient-color-2), url("./assets/images/celebration.png");
}
.nightparty-section .content {
  width: 70%;
}
.nightparty-section .content h3 {
  font-size: 84px;
  color: var(--light-color);
}
.nightparty-section .content .text {
  color: var(--light-color);
  width: 75%;
  margin: 15px 0 30px 0;
}
.nightparty-section .content a {
  color: var(--light-color);
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.nightparty-section .content a:hover {
  color: var(--accent-color);
}
.nightparty-section .image {
  width: 30%;
}
.nightparty-section .image img {
  width: 300px;
}

/* Styling for Night Party Section End */
