/* Reset and Default Styling Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

:root {
  --primary-color: #070211;
  --text-color: #070211aa;
  --accent-color: #ff0000;
  --light-color: #ffffff;
  --bg-gradient-color-1: linear-gradient(
    to bottom,
    #070211 0%,
    rgba(7, 2, 17, 0) 100%
  );
  --bg-gradient-color-2: linear-gradient(
    to right,
    #070211 0%,
    rgba(7, 2, 17, 0) 100%
  );
}

body,
h3,
h4,
h5,
h6,
p,
a,
button,
span,
div,
li {
  font-family: "Inter", sans-serif;
}
h1,
h2 {
  font-family: "Merriweather", serif;
}

.font-mw {
  font-family: "Merriweather", serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.justify-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-bg {
  height: 500px;
  background-repeat: no-repeat;
  border-radius: 24px;
  background-size: cover;
  padding: 50px;
  background-position: center center;
}

.section-subtitle {
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.section-title {
  font-size: 34px;
  font-weight: 700;
  color: var(--primary-color);
}
.text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
img {
  max-width: 100%;
}

/* Reset and Default Styling End */

/* Styling for Banner Section Start */
.banner-section {
  padding: 70px 0;
}

.banner-section .container {
  background-image:
    var(--bg-gradient-color-1), url("./assets/images/banner-image.png");
}
.banner-section h1,
.banner-section h2 {
  color: var(--light-color);
  text-align: center;
}
.banner-section h1 {
  font-size: 32px;
  font-weight: 500;
}
.banner-section h2 {
  font-size: 74px;
  font-weight: 700;
  width: 80%;
  margin-top: 20px;
  line-height: 84px;
}

/* Styling for Banner Section End */

/* Styling for Offer Section Start */
.offer-section {
  padding: 20px 0;
}
.offer-section .offer-text {
  color: var(--accent-color);
  font-size: 74px;
  font-weight: 700;
  margin-bottom: 20px;
}
.offer-section .section-title {
  margin: 15px 0 40px 0;
}
.new-year-image {
  width: 60%;
  text-align: center;
}

/* Styling for Offer Section End */

/* Styling for Night Party Section Start */
.nightparty-section {
  padding: 50px 0;
}
.nightparty-section .container {
  background-image:
    var(--bg-gradient-color-2), url("./assets/images/celebration.png");
}
.nightparty-section .content {
  width: 70%;
}
.nightparty-section .content h3 {
  font-size: 84px;
  color: var(--light-color);
}
.nightparty-section .content .text {
  color: var(--light-color);
  width: 75%;
  margin: 15px 0 30px 0;
}
.nightparty-section .content a {
  color: var(--light-color);
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.nightparty-section .content a:hover {
  color: var(--accent-color);
}
.nightparty-section .image {
  width: 30%;
}
.nightparty-section .image img {
  width: 300px;
}

/* Styling for Night Party Section End */

/* Styling for CTA Section Start */
.cta-section {
  padding: 50px 0;
}
.cta-section .container {
  background: linear-gradient(
    to bottom,
    var(--accent-color) 100%,
    var(--light-color) 0%
  );
  background: linear-gradient(to bottom, #ff000022 0%, #ff000000 100%);
  padding: 70px 50px;
  border-radius: 24px;
}
.cta-section h3 {
  color: var(--primary-color);
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 15px;
}
.cta-section h3 span {
  color: var(--accent-color);
}
.cta-section a {
  background-color: var(--accent-color);
  color: var(--light-color);
  border-radius: 4px;
  padding: 12px 20px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 16px;
}
.cta-section a:hover {
  background-color: var(--primary-color);
}

/* Styling for CTA Section End */

/* Styling for Coming Soon Section Start */
.coming-soon-section {
  padding: 70px 0;
}
.coming-soon-section .container {
  gap: 30px;
}
.coming-soon-section .column {
  width: calc(33.333% - 20px);
}
.coming-soon-section .column-01 h3 {
  margin: 10px 0 15px 0;
}
.coming-soon-section .text {
  color: var(--text-color);
}
.coming-soon-section .column-02 {
  padding: 40px;
  border: solid 12px var(--accent-color);
  border-radius: 100%;
}
.coming-soon-section .column-03 {
  padding-left: 40px;
}
.coming-soon-section .column-03 .year {
  font-size: 32px;
  font-weight: 800;
  color: var(--accent-color);
  margin-bottom: 15px;
}
.coming-soon-section .column-03 img {
  margin-top: 30px;
  width: 120px;
}

/* Styling for Coming Soon Section End */

/* Styling for Holidays Sale Section Start */
.holidaysale-section {
  padding: 50px 0;
}
.holidaysale-section .section-subtitle {
color: var(--primary-color);
}
.holidaysale-section .section-title {
  font-size: 48px;
  margin: 10px 0 15px 0;
}
.holidaysale-section .section-title span {
  color: var(--accent-color);
}
.holidaysale-section p.text {
  color: var(--text-color);
  text-align: center;
  width: 60%;
}


/* Styling for Holidays Sale Section End */